.App {
  text-align: center;
}

body{
  background-color: rgb(160, 193, 206);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



